{% load static %}
<!doctype html>
<html lang="fr">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Portfolio Alexis TOTY</title>
    
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <link rel="stylesheet" href="{% static 'heading.css' %}">
        <link rel="stylesheet" href="{% static 'body.css' %}">

    </head>
    <body id="page-top">
        <nav class="navbar navbar-expand-lg" id="mainNav">
            <div class="container"><a class="navbar-brand js-scroll-trigger" href="">PORTFOLIO Alexis TOTY</a>
                <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="Accueil">ACCUEIL</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="projet_entreprise">PROJETS Entreprise</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="projet_ecole">PROJETS Ecole</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="veille">VEILLE</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <img class="masthead-avatar mb-5" src="{% static '/hutchinson1.jpg' %}" alt="">
                
                <h1 class="masthead-heading mb-0">HUTCHINSON</h1>
                
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    
                </div>
                
                <p class="pre-wrap masthead-subheading font-weight-light mb-0">HUTCHINSON - PERSAN </p>
                <p class="pre-wrap masthead-subheading font-weight-light mb-0">HUTCHINSON est une entreprise présent sur 5 continant son domaine d'activité principale est l'aéraunautique mais aussi sur la défense et sécurité <br>
                Plus précisement sur le site de Presan l'entreprise produit des mélanges de caoutchouc vendu a d'autre entreprise sinon une partie de ce catouchouc par en production pour fabriqué des tuyaux ou des protection  de roues</p>
            </div>
        </header>
    



















        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="{% static '/scripts.js' %}"></script>
        </body>
    
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="mb-4"></h4>
                    <p class="pre-wrap lead mb-0"> </p>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="mb-4">me retrouver sur les réseaux </h4><a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/alexis-toty-2a8461207/"><i class="fab fa-fw fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/Nero4927"><i class="fab fa-fw fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </footer>