{% load static %}
<!doctype html>
<html lang="fr">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Portfolio Alexis TOTY</title>
    
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <link rel="stylesheet" href="{% static 'heading.css' %}">
        <link rel="stylesheet" href="{% static 'body.css' %}">

    </head>
    <body id="page-top">
        <nav class="navbar navbar-expand-lg" id="mainNav">
            <div class="container"><a class="navbar-brand js-scroll-trigger" href="">Alexis TOTY</a>
                <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="Accueil">ACCUEIL</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="Entreprise">Entreprise</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="projet_entreprise">PROJETS Entreprise</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="veille">VEILLE</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <img class="masthead-avatar mb-5" src="{% static '/esiee.jpg' %}" alt="">
                
                <h1 class="masthead-heading mb-0">PROJET ECOLE</h1>
            
                <p class="pre-wrap masthead-subheading font-weight-light mb-0">Ici est la page avec tout le recap des projets fait en cours sur ces 2 années de BTS  </p>
                
            </div>
        </header>





        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="page-section-heading text-secondary mb-0 d-inline-block">Projets réalisés</h2>
                </div>

            <div class="container">
                <div class="row justify-content-center">
                    
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div><img class="img-fluid" src="{% static '/3.jpg' %}" alt="cursus"/>
                        </div>
                    </div> 
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div><img class="img-fluid" src="{% static '/auacademy.png' %}" alt="cursus"/>
                        </div>
                    </div> 
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div><img class="img-fluid" src="{% static '/fukuoka_subway_logo.png' %}" alt="cursus"/>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div><img class="img-fluid" src="{% static '/journal.png' %}" alt="cursus"/>
                        </div>
                    </div> 
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div><img class="img-fluid" src="{% static '/rugby.png' %}" alt="cursus"/>
                        </div>
                    </div> 
        </section>
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    
                                    <h2 class="portfolio-modal-title text-secondary mb-0">Textadventure</h2>

                                    <img class="img-fluid rounded mb-5" src="{% static '/auacademy.png' %}" alt="etudes"/>
                                    
                                    <p class="mb-5"> 
                                    Contexte:
                                    Un manga très en vogue désire être adapté en jeu vidéo par son comité de production. Afin de valider les idées de gameplay, le ton des dialogues, et pour récapituler rapidement tout ce que l'on pourra faire dans le jeu, le studio mandaté a décidé de réaliser un prototype sous forme de jeu textuel qui se joue dans le terminal.
                                    Dans le scénario du manga, le lycée A.U. vise à former les meilleurs héros des pays où il se trouve. Son nom vient de la prononciation des lettres "AU" en anglais qui est semblable à la prononciation de "héros" en japonais, qui se dit "eiyuu". Toute référence à un autre lycée n'est que fortuite...
                                    L'action du jeu se passe donc dans ce lycée. Après avoir rempli un questionnaire au début du jeu pour créer le personnage principal, le joueur peut se déplacer librement dans différents endroits du lycée, chacune proposant des actions que l'on peut réaliser.<br>
                                    <br>
                                    CDC: pour la planification de ce projet nous avons eu le cours sur les base python avec le cours d'introduction réalisé par michael hubert <a href="https://github.com/esieeit-slam-20-21/python-course/tree/main/exercices/textadventure">Dispo ici</a>
                                    </p>
                                    <img class="img-fluid rounded mb-5" src="{% static '/textadventure1.png' %}" alt="etudes"/>
                                    <p>Ici les difficultés rencontré était le jeu de variables a faire car pour coder j'ai appeler des fonctions et variables a tout va le but etait de nous faire découvrir le code en python et le faire a notre manières mais ce code n'est pas optimisé et assez complexe peut ce perdre facilement</p>

                                    <img class="img-fluid rounded mb-5" src="{% static '/textadventure2.png' %}" alt="etudes"/>
                                    <p>ici on peut voir le résultat dans le terminal de Visual Studio code un petit jeu de question réponse </p>
                                    <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    
                                    <h2 class="portfolio-modal-title text-secondary mb-0">Virtualisation</h2>

                                    <img class="img-fluid rounded mb-5" src="{% static '/3.jpg' %}" alt="etudes"/>
                                    
                                    <p class="mb-5"> 
                                    CDC: L'objectif de cette activité est d'apprendre à créer une machine virtuelle (installation et configuration) et à créer une documentation utilisateur qui récence toutes les étapes effectuées .
                                    </p>
                                    <img class="img-fluid rounded mb-5" src="{% static '/vmdebian.png' %}" alt="etudes"/>
                                    <p class="mb-5">
                                        Ici on peut voir ma vm créer avec un hyperviseur Virtualbox avec une procédure d'installation que vous pouvez retrouvé sur <a href="https://gitlab.com/Alexistoty/TOTY/-/tree/master/B1-systeme">Mon Gitlab</a>
                                    </p>


                                    <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    
                                    <h2 class="portfolio-modal-title text-secondary mb-0">Billetterie</h2>
                                    
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <img class="img-fluid rounded mb-5" src="{% static '/fukuoka_subway_logo.png' %}" alt="etudes"/>
                                    
                                    <p class="mb-5"> 
                                        En plus des machines de billetterie existantes en gare, on vous demande de développer une version rudimentaire qui puisse fonctionner dans un terminal. En cas de panne des machines, le personnel de gare pourra alors utiliser votre système pour rapidement imprimer des billets aux clients.
                                        Dans le ferroviaire au Japon, le prix d'un billet est souvent calculé à partir d'un frais de service de base auquel on ajoute un montant calculé selon la distance parcourue.
                                        Dans notre cas, le métro municipal de Fukuoka a simplifié la chose en définissant des zones tarifaires: selon la distance parcourue par un usager, il aura alors à payer le prix de la zone tarifaire correspondante.
                                        Le but est de poser quelques questions à l'utilisateur pour calculer ce qu'il devra payer au total, tout en suivant les règles tarifaires de la compagnie.
                                    </p>
                                    <img class="img-fluid rounded mb-5" src="{% static '/billeterie1.png' %}" alt="etudes"/>
                                    <p class="mb-5">
                                        Ici la découverte de python de créer des variables dictionnaires, liste, les boucles et toutes les bases de python 3. 
                                    </p>
                                    <img class="img-fluid rounded mb-5" src="{% static '/billeterie2.png' %}" alt="etudes"/>
                                    <p>le résultat dans le terminal des questions réponses avec les variables et les boucles qui affiche a la fin un petit récap des tickets pris</p>
                                    <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    
                                    <h2 class="portfolio-modal-title text-secondary mb-0">journal</h2>
                                    
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <img class="img-fluid rounded mb-5" src="{% static '/journal.png' %}" alt="etudes"/>
                                    
                                    <p class="mb-5"> 
                                        Le quotidien pour lequel vous travaillez, Le Lutécien, a besoin de connaître rapidement les articles devant paraître dans le prochain journal avant envoi à l'imprimeur.

                                        Chaque journal peut inclure des articles d'actualité ainsi que des interviews, dont certains peuvent être réservés à une édition régionale. Les articles/interviews destinés à l'édition nationale paraissent cependant aussi dans les éditions régionales.
                                        
                                        Pour l'instant, le journal n'a que deux éditions régionales en Ile-de-France et au PACA.
                                    </p>
                                    <img class="img-fluid rounded mb-5" src="{% static '/journal1.png' %}" alt="etudes"/>
                                    <p class="mb-5">
                                    Ici nous avons travailler avec l'héritage de données d'une classe a l'autre pour les modifier et afficher avec des boucles avec le tri de certains éléments.  
                                    </p>


                                    <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    
                                    <h2 class="portfolio-modal-title text-secondary mb-0">RUGBY</h2>
                                    
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <img class="img-fluid rounded mb-5" src="{% static '/rugby.png' %}" alt="etudes"/>
                                    
                                    <p class="mb-5"> 
                                        Nouvelle compétition de Rugby mettant en concurrence des équipes nationales, la Rugby Tropical Cup aura lieue pour la première fois en 2022. Ce sera un tournoi à élimination directe.

                                        La première édition se déroulera intégralement en Nouvelle-Zélande à travers plusieurs de ses villes. Pour le moment, seuls quelques pays sont en compétition : Nouvelle-Zélande, Australie, Japon, Fidji, Samoa, Tonga, Afrique du Sud et Russie.
                                        
                                        N'étant pas encore de grande envergure, la compétition fait appel à une startup spécialisée dans la billetterie pour s'occuper de l'édition des billets selon les commandes passées sur son site e-commerce.
                                    </p>
                                    <img class="img-fluid rounded mb-5" src="{% static '/rugby1.png' %}" alt="etudes"/>
                                    <p class="mb-5">
                                        Ici les difficultés était que les données des billets était dans fichiers JSON il fallait lire le fichier json et faire une boucle pour l'écriture du ticket et prendre les bonne données de chaque fichier JSON.<br>
                                        Il y'a aussi le coté QRcode ou il fallait importer et installé la bibliothèque de QRcode et lui ajouté les data
                                    </p>
                                    <img class="img-fluid rounded mb-5" src="{% static '/rugby2.png' %}" alt="etudes"/>
                                    <p class="mb-5">
                                        Le résultat est l'écriture du billet avec son id et les informations du stade de l'équipe domicile et extérieur 

                                    </p>
                                    <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="{% static '/scripts.js' %}"></script>
        </body>
    
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="mb-4"></h4>
                    <p class="pre-wrap lead mb-0"> </p>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="mb-4">me retrouver sur les réseaux </h4><a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/alexis-toty-2a8461207/"><i class="fab fa-fw fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/Nero4927"><i class="fab fa-fw fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </footer>